* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

.index {
    position: relative;
    min-height: 100vh;
    background-image: url("./assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.index::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(40, 40, 40, 0.8);
    z-index: 1;
}

.container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;

    width: 100%;
    height: 30px;
    padding: 20px;

    font-size: 10px;

    background-color: rgb(0, 40, 96);
}