* {
    margin: 0;
    padding: 0;
}

.index {
    background-image: url("./assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.container {
    display: flex;
    flex-direction: column;

    flex: 1;
    height: 100vh;
}

.header {
    display: flex;
    align-items: center;

    width: 100%;
    height: 30px;
    padding: 5px;

    font-size: 10px;
    
    background-color: #8ca8e090;
}